<legend class="small text-search">Recherche d'entreprise</legend>
<div class="row text11noirnormal flot">
    <div class="col-md-8 col-md-offset-2 block_form_search">
        <div class="alert alert-danger error_value" style="display: none">
            <div class="flash-notice notif" style="color: red;font-size: 15px">
                La date de debut doit inférieur ou égal à la date fin
            </div>
        </div>
        <form action="{{ path('company') }}" class=" pad_content_bas_divglobal">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label class="control-label col-sm-2" for="company_nom">Entreprise</label>
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control" type="text" id="nomComp" name="nomComp">
                </div>
                <div class="form-group col-md-1">

                    <label class="control-label" for="company_nom">Status</label>
                </div>
                <div class="form-group col-md-3">
                    <select class="form-control" name="statusComp" id="statusComp">
                        <option value="">tous</option>
                        <option value="1">Actif</option>
                        <option value="0">Inactif</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label class="control-label" for="company_nom">Création du</label>
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control js-datepicker" type="text" data-date-format="dd/mm/yyyy" id="debutDateSearch"  name="debutDateSearch">
                </div>
                <div class="form-group col-md-1">
                    <label for="">au</label>
                </div>
                <div class="form-group col-md-3">
                    <input class="form-control js-datepicker" type="text" data-date-format="dd/mm/yyyy" id="endDateSearch"  name="endDateSearch">
                </div>
            </div>

            <div class="form-row">
                <div class="btn-group col-md-3">
                    <button class="btn btn-default" type="submit" id="search-button">Rechercher</button>
                </div>
            </div>
        </form>
    </div>
</div>