{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>Félicitations, votre compte est maintenant activé.</p>
{% endblock fos_user_content %}
