<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Bonjour,
    Votre demande de réinitialisation de mot de passe   a été bien faite.
    Mot de passe : {{ password }}

</body>
</html>