{% extends "::base.html.twig" %}

{% block title %}TelmaSelfcarePrepaidBundle:User:resetPassword{% endblock %}

{% block content %}
<h4>Votre demande de réinitialisation mot de passe a été bien effectué </h4>
{% endblock %}
