/* line 1, ../sass/_responsive.scss */
body {
  width: 100%;
  margin: 0;
}

/* line 6, ../sass/_responsive.scss */
* {
  box-sizing: border-box;
}

/* line 10, ../sass/_responsive.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 15, ../sass/_responsive.scss */
.lfloat {
  float: left;
}

/* line 19, ../sass/_responsive.scss */
.rfloat {
  float: right;
}

/* line 23, ../sass/_responsive.scss */
.rposition {
  position: relative;
}

/* line 27, ../sass/_responsive.scss */
.clearfix {
  *zoom: 1;
}
/* line 28, ../sass/_responsive.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 32, ../sass/_responsive.scss */
.clearfix:after {
  clear: both;
}

/* line 39, ../sass/_responsive.scss */
.for_header, .content_header, .container_bas {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  /* line 39, ../sass/_responsive.scss */
  .for_header, .content_header, .container_bas {
    width: 960px;
  }
}

/* line 47, ../sass/_responsive.scss */
.content_header {
  background: #ffffff url(../images/rechargenligne_Vbgheader_mobile.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: auto;
  min-height: 260px;
  padding-top: 10%;
}

@media screen and (min-width: 768px) {
    /* line 44, ../sass/_responsive.scss */
    .content_header.achatB {
        background: #ffffff url(../images/rechargenligne_Vbgheader.jpg) no-repeat 0 0;
    }
}
@media screen and (min-width: 768px) {
    /* line 49, ../sass/_responsive.scss */
    .content_header.rechargeC {
        background: #ffffff url(../images/rechargenligne_Vbgheader_recharge.jpg) no-repeat 0 0;
    }
}
/* line 54, ../sass/_responsive.scss */
.content_header .abs {
  margin: 0 auto;
  max-width: 400px;
  position: relative;
}
@media (min-width: 320px) {
  /* line 54, ../sass/_responsive.scss */
  .content_header .abs {
    margin: 0 5px;
  }
}
@media (min-width: 480px) {
  /* line 54, ../sass/_responsive.scss */
  .content_header .abs {
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  /* line 54, ../sass/_responsive.scss */
  .content_header .abs {
    float: right;
    min-height: 193px;
    margin: 15px 5% 30px 0;
    width: 401px;
  }
}
/* line 70, ../sass/_responsive.scss */
.content_header .abs .aheader_bg, .content_header .abs .acont_bg {
  width: 100%;
}
/* line 73, ../sass/_responsive.scss */
.content_header .abs .aheader_bg {
  border-bottom: 1px solid #fff;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  /* line 47, ../sass/_responsive.scss */
    .content_header {
        background: #ffffff url(../images/rechargenligne_Vbgheader.jpg) no-repeat;
    }
}

/* line 85, ../sass/_responsive.scss */
.afooter_bg_mobile {
  display: none;
}

/* line 88, ../sass/_responsive.scss */
.graphMob {
  display: none;
}

/* line 91, ../sass/_responsive.scss */
.wrap-bg {
  background: #FFE958 url(../images/rechargenligne_acont.jpg);
  background-repeat: repeat-x;
  background-position: top left;
  background-size: 100% auto;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.3);
  padding-bottom: 17px;
  margin-top: -1px;
}

/* line 107, ../sass/_responsive.scss */
.transparency_bouton {
  background: #FFE959;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0px 3px 25px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 3px 25px -10px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 3px 25px -10px rgba(0, 0, 0, 0.75);
  position: relative;
  width: 63%;
}
/* line 117, ../sass/_responsive.scss */
.transparency_bouton input {
  height: 20px;
  width: 100%;
  padding: 0 7px;
  outline: none;
}
@media (min-width: 768px) {
  /* line 107, ../sass/_responsive.scss */
  .transparency_bouton {
    width: 53%;
  }
}

/* line 128, ../sass/_responsive.scss */
.transparency_bouton3 {
  width: auto;
}
/* line 130, ../sass/_responsive.scss */
.transparency_bouton3 img {
  vertical-align: middle;
}

/* line 135, ../sass/_responsive.scss */
.desk_img {
  display: none;
}
@media (min-width: 768px) {
  /* line 135, ../sass/_responsive.scss */
  .desk_img {
    display: block;
  }
}

/* line 142, ../sass/_responsive.scss */
.mobile_img {
  display: block;
}
@media (min-width: 768px) {
  /* line 142, ../sass/_responsive.scss */
  .mobile_img {
    display: none;
  }
}

/* line 149, ../sass/_responsive.scss */
.text_plus_haut {
  margin: 0;
  padding: 0 10px 18px;
  font-size: 11px;
  line-height: 138%;
  position: inherit;
}
@media (min-width: 768px) {
  /* line 149, ../sass/_responsive.scss */
  .text_plus_haut {
    font-size: 12px;
    padding: 0 55px 0;
  }
}

/* line 161, ../sass/_responsive.scss */
.pad_content_bas_divglobal {
  line-height: 138%;
  padding: 50px 10px 10px;
}
@media (min-width: 768px) {
    /* line 144, ../sass/_responsive.scss */
    .pad_content_bas_divglobal {
        padding: 0 10px 10px 30px;
        max-width: initial;
        width: 100%;
        margin: 15px 0;
    }
}

/* line 170, ../sass/_responsive.scss */
.header_content p, .footer_content p {
  display: block;
  margin: 0;
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) {
  /* line 170, ../sass/_responsive.scss */
  .header_content p, .footer_content p {
    display: inline-block;
    width: auto;
  }
}

/* line 185, ../sass/_responsive.scss */
.header_content p.logo a {
  width: 30%;
}
@media (min-width: 320px) {
  /* line 185, ../sass/_responsive.scss */
  .header_content p.logo a {
    display: block;
    margin: 0 auto;
    width: 25%;
  }
}
@media (min-width: 360px) {
  /* line 185, ../sass/_responsive.scss */
  .header_content p.logo a {
    width: 100%;
  }
}
/* line 197, ../sass/_responsive.scss */
.header_content p.header_txt {
  margin: 0 5px;
  width: 97%;
}
@media (min-width: 768px) {
  /* line 197, ../sass/_responsive.scss */
  .header_content p.header_txt {
    width: auto;
    margin: 0;
  }
}

/* line 208, ../sass/_responsive.scss */
.acont_bg {
  background: none;
  padding: 10px 15px 0;
}
/* line 211, ../sass/_responsive.scss */
.acont_bg .rposition {
  width: 62%;
}
/* line 213, ../sass/_responsive.scss */
.acont_bg .rposition p:first-child {
  width: 85%;
}
/* line 217, ../sass/_responsive.scss */
.acont_bg p {
  margin: 0;
}
/* line 219, ../sass/_responsive.scss */
.acont_bg p.btnHelp {
  position: absolute;
  right: 0;
  top: -3px;
}
/* line 225, ../sass/_responsive.scss */
.acont_bg .clearfix {
  margin: 2px 0;
}
/* line 228, ../sass/_responsive.scss */
.acont_bg select {
  cursor: pointer;
  width: 100%;
}
/* line 232, ../sass/_responsive.scss */
.acont_bg .sbHolder {
  height: 20px;
  width: 100% !important;
}
/* line 235, ../sass/_responsive.scss */
.acont_bg .sbHolder .sbSelector {
  display: block;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #006633;
  height: 23px;
  line-height: 23px;
  padding: 0 7px;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
}
@media (min-width: 768px) {
  /* line 235, ../sass/_responsive.scss */
  .acont_bg .sbHolder .sbSelector {
    line-height: 20px;
  }
}
/* line 251, ../sass/_responsive.scss */
.acont_bg .sbHolder .sbToggle {
  background: url(../images/btn-select.png) no-repeat;
  cursor: pointer;
  width: 15px;
  height: 7px;
  position: absolute;
  right: 8px;
  bottom: 5px;
}
/* line 260, ../sass/_responsive.scss */
.acont_bg .sbHolder .sbToggleOpen {
  background: url(../images/btn-select-up.png) no-repeat;
}
/* line 263, ../sass/_responsive.scss */
.acont_bg .sbHolder ul {
  background: #00673F;
  margin: 0;
  padding: 0;
  overflow-y: scroll !important;
}
/* line 267, ../sass/_responsive.scss */
.acont_bg .sbHolder ul li {
  list-style: none;
}
/* line 269, ../sass/_responsive.scss */
.acont_bg .sbHolder ul li a {
  border-bottom: 1px solid #fff;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #fff;
  padding: 5px;
  text-decoration: none;
}
/* line 277, ../sass/_responsive.scss */
.acont_bg .sbHolder ul li a:hover {
  background: #ffdd00;
  color: #006633;
}

/* line 287, ../sass/_responsive.scss */
.text_italic {
  padding-left: 0;
}

/* line 291, ../sass/_responsive.scss */
.pad_cont_a_div1 {
  padding: 0;
  width: 37%;
}

/* line 296, ../sass/_responsive.scss */
.afooter_bg {
  background-size: 100% auto;
  position: absolute;
  right: 20px;
  width: 144px;
}
/* line 301, ../sass/_responsive.scss */
.afooter_bg .boutoun_valide {
  margin: 0;
  right: 22px;
  top: -5px;
  z-index: 50;
}

/* line 310, ../sass/_responsive.scss */
.abt .wrap-bg {
  min-height: 170px;
}
/* line 314, ../sass/_responsive.scss */
.abt .acont_bg .clearfix {
  margin: 7px 0;
}
/* line 318, ../sass/_responsive.scss */
.abt .afooter_bg {
  background-image: url(../images/rechargenligne_bundle_afooter.jpg);
  width: 238px;
}
/* line 322, ../sass/_responsive.scss */
.abt .afooter_bg .boutoun_valide a {
  margin: 0 3px;
}

/* line 329, ../sass/_responsive.scss */
#pop-error {
  display: none;
}

#pop-error1 {
    display: none;
}
/* line 331, ../sass/_responsive.scss */
#pop-error p {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
}
#pop-error1 p {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}

/* line 341, ../sass/_responsive.scss */
.mobile-abt .content_header .aheader_bg {
  height: auto;
}
/* line 344, ../sass/_responsive.scss */
.mobile-abt .content_header .abs {
  max-width: 90%;
  margin: 0 auto;
}
/* line 347, ../sass/_responsive.scss */
.mobile-abt .content_header .abs .aheader_bg {
  border-bottom: 10px solid #fff;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* line 355, ../sass/_responsive.scss */
.mobile-abt .pad_cont_aheader {
  padding: 25px 30px 25px 60px;
  position: relative;
  background: url(../images/bgHeader.jpg) repeat left top;
}
@media (min-width: 480px) {
  /* line 355, ../sass/_responsive.scss */
  .mobile-abt .pad_cont_aheader {
    padding: 25px 15px 25px 110px;
  }
}
/* line 362, ../sass/_responsive.scss */
.mobile-abt .pad_cont_aheader span.arrow {
  background: url(../images/arrow.jpg) no-repeat left top;
  background-size: 100% auto;
  display: block;
  width: 36px;
  height: 53px;
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -27px;
}
@media (min-width: 480px) {
  /* line 362, ../sass/_responsive.scss */
  .mobile-abt .pad_cont_aheader span.arrow {
    left: 30px;
  }
}
/* line 377, ../sass/_responsive.scss */
.mobile-abt .text14noirbold {
  font-size: 20px;
  font-family: Myriad Pro Regular,Arial, Helvetica, sans-serif;
}
@media (min-width: 480px) {
  /* line 377, ../sass/_responsive.scss */
  .mobile-abt .text14noirbold {
    font-size: 28px;
  }
}
/* line 384, ../sass/_responsive.scss */
.mobile-abt .text_italic {
  font-size: 10px;
}
/* line 387, ../sass/_responsive.scss */
.mobile-abt .wrap-bg {
  padding-bottom: 0;
  border-radius: 0;
}
/* line 391, ../sass/_responsive.scss */
.mobile-abt .transparency_bouton {
  background: #ffffff;
  border-radius: 0;
  box-shadow: none;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
/* line 398, ../sass/_responsive.scss */
.mobile-abt .transparency_bouton input {
  height: 50px;
}
/* line 402, ../sass/_responsive.scss */
.mobile-abt .acont_bg {
  background: url("../images/bgForm.jpg") repeat left top;
  padding-bottom: 20px;
}
/* line 405, ../sass/_responsive.scss */
.mobile-abt .acont_bg .sbHolder {
  height: 50px;
}
/* line 407, ../sass/_responsive.scss */
.mobile-abt .acont_bg .sbHolder .sbSelector {
  height: 53px;
  line-height: 53px;
  font-size: 14px;
}
/* line 412, ../sass/_responsive.scss */
.mobile-abt .acont_bg .sbHolder .sbToggle {
  bottom: 50%;
  margin-bottom: -4px;
}
/* line 419, ../sass/_responsive.scss */
.mobile-abt .acont_bg .sbHolder ul li a {
  font-size: 14px;
  padding: 5px 5px;
}
/* line 427, ../sass/_responsive.scss */
.mobile-abt .text11vertnormal {
  font-size: 14px;
}
/* line 430, ../sass/_responsive.scss */
.mobile-abt .pad_cont_a_div1 {
  font-size: 14px;
  padding: 9px 0;
  width: 29%;
  display: block;
  height: auto;
  margin-left: 10px;
  line-height: normal;
}
@media (min-width: 480px) {
  /* line 430, ../sass/_responsive.scss */
  .mobile-abt .pad_cont_a_div1 {
    padding: 0;
    height: 50px;
    line-height: 50px;
  }
}
/* line 443, ../sass/_responsive.scss */
.mobile-abt .pad_cont_a_div1 br {
  display: block;
}
@media (min-width: 480px) {
  /* line 443, ../sass/_responsive.scss */
  .mobile-abt .pad_cont_a_div1 br {
    display: none;
    margin-left: 20px;
  }
}
/* line 451, ../sass/_responsive.scss */
.mobile-abt .afooter_bg {
  display: none;
}
@media (min-width: 768px) {
  /* line 451, ../sass/_responsive.scss */
  .mobile-abt .afooter_bg {
    display: block;
  }
}
/* line 456, ../sass/_responsive.scss */
.mobile-abt .afooter_bg.afooter_bg_mobile {
  display: block;
}
@media (min-width: 768px) {
  /* line 456, ../sass/_responsive.scss */
  .mobile-abt .afooter_bg.afooter_bg_mobile {
    display: none;
  }
}
/* line 464, ../sass/_responsive.scss */
.mobile-abt.abt .afooter_bg {
  background-image: none;
  width: 95%;
  margin: 10px auto;
  position: static;
  height: 52px;
}
/* line 471, ../sass/_responsive.scss */
.mobile-abt.abt .boutoun_valide {
  position: static;
  text-align: center;
}
/* line 476, ../sass/_responsive.scss */
.mobile-abt.abt .acont_bg .clearfix {
  padding: 7px 0;
  border-bottom: 1px solid #ffffff;
  margin: 0;
}
/* line 483, ../sass/_responsive.scss */
.mobile-abt .graph {
  display: none;
}
/* line 485, ../sass/_responsive.scss */
.mobile-abt .graph.graphMob {
  display: block;
  width: 90%;
  margin: 0 auto;
  float: none;
}
/* line 492, ../sass/_responsive.scss */
.mobile-abt .pad_content_bas_divglobal {
    padding: 0 10px 10px 30px;
    max-width: initial;
    width: 100%;
    margin: 15px 0;
}
/* line 496, ../sass/_responsive.scss */
.mobile-abt form {
  border: 1px solid #ffffff;
  border-bottom: none;
}
/* line 500, ../sass/_responsive.scss */
.mobile-abt .bundle {
  padding: 17px 0;
}
/* line 503, ../sass/_responsive.scss */
.mobile-abt footer {
  display: none;
}

@media (min-width: 768px) {
    /* line 320, ../sass/_responsive.scss */
    .graph.flot {
        width: 490px;
    }
}
/* line 324, ../sass/_responsive.scss */
.graph.flot .pad_content_bas_divglobal {
    height: 750px;
    overflow-y: scroll;
}
